### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
/.metadata/
/.recommenders/
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders